<h1 style="color: black;">All Groups</h1>

<% @groups.each do |group| %>
  <h2><%= link_to group.title, group %></h2>
  <p><%= group.description %></p>
  <p><strong>Members:</strong> <%= group.members.count %></p>
<% end %>
