<!DOCTYPE html>
<html lang="en">
  <head>
  <%= stylesheet_link_tag "home.css" %>
    <title>OpenFLAP</title>
  </head>
  <body>
  <%# first block %>
  <div class="bg-image d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h2>Practice Your<span> Automata</span> Knowledge</h2>
  </div>
</div>




 <%# second block %>
<div class="block_crads">
           
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card text-center">
           <div class="icons mt-3">
                       <i class="fa-solid fa-question"></i>
            </div>
            <div class="card-body">
              <h1 class="card-title">What Is OpenFLAP</h1>
              <p class="card-text"><small class="text-muted">Easy To Use</small></p>
              <p class="card-text"> <p class="card-text">Place for you to practice your skills and develop your Automata knowledge with activities and questions .</p>
            </div>
        </div>
        
      </div>
    <div class="col-lg-4">
      <div class="card text-center">
            <div class="icons mt-3">
             <i class="fa-solid fa-laptop-code"></i>
           </div>
            <div class="card-body">
              <h1 class="card-title">Track Progress</h1>
              <p class="card-text"><small class="text-muted">Available</small></p>
              <p class="card-text"> <p class="card-text"> We seek to improve the Formal Languages course by providing more engagement through the use of various interactive features.</p>
            </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card text-center">
           <div class="icons mt-3">
             <i class="fa-solid fa-user-pen"></i>
           </div>
          <div class="card-body">
            <h1 class="card-title">Purpose</h1>
            <p class="card-text"><small class="text-muted">Efficient</small></p>
            <p class="card-text"> <p class="card-text">The purpose of this system is to gather the tools of JFLAP together in one website to make it easy for students to practice, solve exercises get their degrees immediately after solving.</p>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>



</div>






     

  <footer class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mx-auto">
        <p class="footer-title text-center mt-2">OpenFLAP is Free to Use</p>
        <hr>
        <p class="footer-disc text-center mt-2">OpenFLAP was inspired by many great systems built by others, but aims to bring together the best from earlier forerunners while adding important new features.</p>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <p>&copy; 2023 OpenFLAP. All Rights Reserved.</p>
  </div>
</footer>
  </body>
</html>

