<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OpenFLAP</title>
  </head>
  <body>
    <h1>OpenFLAP Editors and Tools</h1>

    <ul>
      <li> <a href="editor/fa">Finite Automata Editor</a> (This is often
      where you want to start, to access some of the conversion
        tools.)
      <li> <a href="editor/pda">Push-Down Automata Editor</a>
      <li><a href="editor/reTOfa">Convert a regular expression to a
          finite automata</a>
      <li><a href="editor/tm">Turing Machine Editor</a>
      <li><a href="editor/grammar">Grammar Editor</a>
    </ul>
  </body>
</html>
