<!DOCTYPE html>
<html lang="en">
  <head>
      <%= stylesheet_link_tag "editors" %>

    <title>Topics</title>
  </head>
<body class="edit">
  <div class="container mt-5">
  <div class="row justify-content-center gx-5 ">
    <h1 class="text-center mt-5 mb-5">OpenFLAP Editors and Tools</h1>
    <div class="col-md-5">
      <div class="card mb-4">
        <div class="card-body ">
          <a href="OpenDSA-master\AV\OpenFLAP\FA.html" target="_blank">
            <h5 class="card-title">Finite Automata Editor</h5>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card mb-4">
        <div class="card-body">
          <a href="OpenDSA-master\AV\OpenFLAP\PDAEditor.html" target="_blank">
            <h5 class="card-title">Push-Down Automata Editor</h5>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card mb-4">
        <div class="card-body">
          <a href="OpenDSA-master\AV\OpenFLAP\REtoFA.html" target="_blank">
            <h5 class="card-title">Convert a regular expression to a finite automata</h5>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card mb-4">
        <div class="card-body">
          <a href="OpenDSA-master\AV\OpenFLAP\TMEditor.html" target="_blank">
            <h5 class="card-title">Turing Machine Editor</h5>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card mb-4">
        <div class="card-body">
          <a href="OpenDSA-master\AV\OpenFLAP\grammarEditor.html" target="_blank">
            <h5 class="card-title">Grammar Editor</h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>