.edit {
   background: radial-gradient(circle, rgba(11,55,94,1) 0%, rgba(157,164,170,1) 100%, rgba(222,213,204,1) 100%);
 }
 
 h1 {
   text-align: center;
   font-family: 'Ubuntu', sans-serif;
   font-size: 40px;
   color: white;
 }
 
 .card {
   text-align: center;
   height: 250px;
   background:#fff;
   color: #0b375e;
   transition: transform 0.5s ease-in-out;

 }
 .card-body{
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
 .card-body a{
  text-decoration: none;
  font-weight:500;
  color: #0b375e;

 }
 
 .card:hover {
   transform: scale(1.1);
   box-shadow: none;
 }
 
 /* a:hover {
   text-decoration: none;
   color: #0b375e;
 } */