.edit {
    background-image: radial-gradient(circle, #051c21, #294147, #506b71, #7a979e, #a6c6cd);
   /* background-color: #294147; */
 }
 
 h1 {
   text-align: center;
   margin-bottom: 16px;
   font-family: 'Ubuntu', sans-serif;
   font-size: 40px;
   color: white;
 }
 
 .card {
   text-align: center;
   height: 180px;
   margin: 36px auto;
   position: relative;
   border-radius: 10px;
   background-color: white;
   color: #0b375e;
   transition: transform 0.5s ease-in-out;
 }
 .card-body{
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
 .card-title{
   font-weight:500;
 }
 .card:hover {
   transform: scale(1.1);
 }
 
 a:hover {
   text-decoration: none;
   color: #0b375e;
 }