



.group-label{
  color:#0b375e;
  font-family: 'Ubuntu';
  font-size:25px;
  font-weight:700;
}

.Group-discription{
  color: #0b375e;
  font-family: 'Ubuntu';
  font-size: 24px;
  font-weight: 400;
}
.Group-button{
  width: 200px;
}

.Group-EX{
  padding-left: 0;
}

.Group-form{
  margin-top: 0;
  text-align: left;
}
.Group-name{
  color: #0b375e;
  text-align: left;
}

.waiting-caption{
text-align: center;
color: #0b375e;
font-size:24px;
font-family: 'Ubuntu';
}

.waiting-table{
  margin:10px 0;
  padding: 0;
 background-color: #fff;
}
