body{
    background-color:#fff;
     overflow-x: hidden;
}
.bg-image {
    background-image: url(team.jpg); 
    background-size: 100% 100%;
    background-position: center center;
    height: 600px; /* set a default height for the background image */
    position: relative;
  }
  
  .bg-image h2 {
    position: absolute;
    top: 5%;
    left: 4%;
    color: #fff;
    color: whitesmoke;
    font-family: 'Ubuntu';
    font-size: 40px;
    z-index: 1;
  }
  .bg-image h2 span{
    color:  #07253f;
    font-weight: bold;
  }
  /* @media (min-width: 768px) {
    .bg-image {
      height: 100vh; /* set the height to the full viewport height on larger screens 
    }
  } */
.block_crads{
  margin-top: -150px;
}
.card{
    height: 450px;
    background: whitesmoke;
    margin-top: 40px;
    transition: 0.5s ease;
    background-color: #051c2f;
    color: white;
    

}
.card:hover{
    box-shadow: #4774eb 0px 1px 15px 0px;
    transform: scale(1.1);
}
.card img{
    width: 120px;
    height: 120px;
    border-radius: 25%;
    margin-left: 120px;
}
.card-title{
    font-size: 25px;
    font-weight: bold;
}
.text-muted{
    font-weight: bold;
    color: lightgray;
}
.icons{
  padding-top: 30px;
  font-size: 70px;
  word-spacing: 35px;
}
.title h1 span{
color: #07253f;
font-family: 'Poppins';
font-weight: 700;
font-size: 60px;
line-height: 93.72px;
}
.title h1 {
  color: #07253f;
font-family: 'Poppins';
font-weight: 700;
font-size: 50px;
line-height: 93.72px;
}
.Options h2{
font-family: Ubuntu;
font-size: 48px;
font-weight: 700;
line-height: 62px;
color:#07253f;
}
.Options p{
font-family: 'Ubuntu';
font-size: 22px;
font-weight: 400;
line-height: 46px;
color:#07253f;
} 
.Options .edit_lastP{
  font-family: 'Ubuntu';
  font-size: 24px;
  font-weight: 400;
  line-height: 46px;
  color:#07253f;
  } 
 .Options img{
  height: 100%;
  width: 100%;
} 
.Options .coloring{
  background: rgba(222, 213, 204, 0.6);
}
.Options .second_color{
  background: rgba(9, 55, 97, 0.2);

}
.Options ul{
  list-style: none;
  color:#07253f;
  font-size: 22px;
  font-family:'Ubuntu';
  font-weight: 400;
}
.footer-title
{
    font-family: 'Ubuntu';
    font-size: 20px;
    color: #0b375e;
}
hr {
    margin: auto;
    width: 100%;
    color: #0b375e;
  }
.footer-disc
{
  font-size: 20px;
    padding-bottom: 20px;
    color: #0b375e;
}