
form {
background-color:#051c2f;
border-radius: 20px;
padding: 50px;
color: #fff;
margin: 0 auto;
margin-top: 60px;
}
.form-group .button{
    background-color: #b8cee2;
    color: #0b375e;
    border-radius: 10px;
    width: 100%;
    border: none;
}
.form-group .button:hover{
    box-shadow: rgba(86, 86, 94, 0.5) 0px 4px 8px 0px;
}
.form-group .Log{
        display: block;
        width: 100%;
        background-color: #b8cee2; 
        text-align: center;
        border-radius: 10px;
        margin: 16px 0 0 0 !important;
        text-decoration: none;
        padding: 6px 10px;
        color: #0b375e;
        transition: 0.3s ease-in-out;
    }
.form-group .Log:hover{
    background-color:  #b8cee2;
    color: #0b375e;
    box-shadow: rgba(78, 78, 78, 0.5) 0px 2px 8px 0px;
}