.navbar{
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 12px 0px;
    padding-top: 10px;
}    
 .navbar-toggler:focus {
  box-shadow: none;
} 
.navbar-brand{
      color:#0b375e ;
      font-family: 'Righteous' !important;
      font-size: 24px;
      font-weight: 400 !important;
      padding-left: 12px !important;
}
.navbar-brand:hover,
.navbar-brand:focus {
  color:#0b375e;
}
  
.navbar-nav .nav-link
{
  font-family: 'Ubuntu' !important;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #0b375e;
  padding: 0 16px !important;
  margin: 10px;
}
.btn{
background-color: #0b375e;
color: white;
height: 40px;
font-family:'Ubuntu' !important;
margin: 6px 6px !important;
padding: 6px 10px;
transition: 0.3s ease-in-out;
border: none;
}
.btn:hover
{
    background-color:  #0b375e;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px 0px;
   
}
.button{
   background-color: #b8cee2; 
   text-align: center;
   border-radius: 5px;
   margin: 6px 6px !important;
   text-decoration: none;
   padding: 6px 10px;
   color: #0b375e;
   transition: 0.3s ease-in-out;
}
.button:hover{
     background-color:  #b8cee2;
     color: #0b375e;
     box-shadow: rgba(78, 78, 78, 0.5) 0px 2px 8px 0px;
 }
 