.heading{
  color:#0b375e;
 }



 .table>thead{
  vertical-align: middle;
}

 .table_head {
  background-color:rgba(222, 213, 204, 0.2);
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  height: 80px;
}
th{
     
  color:#0b375e;
  font-size: 20px;
 }
.table>:not(caption)>*>*{
  padding: 0;
}
 
td {
    text-align: center;
    vertical-align: middle;
    color:#0b375e;
    text-decoration:none;
    font-family: 'Ubuntu';
    font-size:18px;
    font-weight:500;
  }
  

/* styling table */


/* row of dataTable*/
table.dataTable.table-striped>tbody>tr.odd>* {
  background-color: #fff;
  box-shadow:none ;
}
table.dataTable.table-striped>tbody>tr.even>* {
  background: rgba(222, 213, 204, 0.2);
}

/* row of Table striped*/

 .table-striped>tbody>tr:nth-of-type(odd)>* {
 color: #0b375e;
 --bs-table-accent-bg:#fff;
} 
.table-striped>tbody>tr:nth-of-type(even)>*{
  --bs-table-accent-bg:rgba(222, 213, 204, 0.2);
}
.table-striped tbody tr {
  height: 90px;
}

.links{
    text-decoration:none;
    color: var(--bs-link-color);
    font-family: 'Ubuntu';
    font-size:18px;
    font-weight:lighter;
 }
 
 




 
 /* Pagination links*/
.dataTables_wrapper .dataTables_paginate .pagination .page-item .page-link {
  border-radius: 0.25rem; 
  color: #0b375e;
  background-color: #fff;
}
.dataTables_wrapper.dt-bootstrap5.no-footer{
  margin-top: 30px;
}
.dataTables_wrapper .dataTables_paginate .pagination .page-item .page-link:hover {
  background-color:#0b375e ;
  color: #fff;
}

.dataTables_wrapper .dataTables_paginate .pagination .page-item.active .page-link {
  background-color: #0b375e;
  color: #fff;
  border:none;
  box-shadow: none;
}
.dataTables_info{
  color:#0b375e;
}
div.dataTables_wrapper div.dataTables_length label , div.dataTables_wrapper div.dataTables_filter label{
  color: #0b375e;
  margin-bottom: 20px;
}
div.dataTables_wrapper div.dataTables_length select ,div.dataTables_wrapper div.dataTables_filter input{
  box-shadow: none;
}

