<!DOCTYPE html>
<html>
  <head>
    <title>DFA Exercise: Both even or odd</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/OpenDSA-master/lib/JSAV.css" type="text/css">
    <link rel="stylesheet" href="/OpenDSA-master/lib/odsaAV.css" type="text/css">
    <link rel="stylesheet" href="/OpenDSA-master/lib/odsaStyle.css" type="text/css">
    <link rel="stylesheet" href="/OpenDSA-master/AV/OpenFLAP/css/help.css" type="text/css">
    <link rel="stylesheet" href="/OpenDSA-master/AV/OpenFLAP/css/customPrompt.css" type="text/css">
    <link rel="stylesheet" href="/OpenDSA-master/AV/OpenFLAP/css/FA.css" type="text/css">
    <link rel="stylesheet" href="/OpenDSA-master/AV/OpenFLAP/css/tester.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- add icon_button library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <style>
      .jsavhorizontalarray .jsavnode {
      min-width: 200px !important;
      max-width: 400px !important;
      }
    </style>
    <script src="/OpenDSA-master/lib/jquery.min.js"></script>
    <script>
     $(document).ready(function() {
       getExerciseLocation = function () {
         return "/exercises_file/<%=@file_name%>"
       };
       $(function(){
         $("#load_content").load("/OpenDSA-master/AV/OpenFLAP/exercises/FLAssignments/FA/FAExTemplate.html");
       })
       
     });
     </script>
    
  </head>
 

  <body>
    <div id="load_content"></div>
  </body>
</html>
