<!DOCTYPE html>
<html>
<head>
    <title>Exercise Editor</title>
      <%= stylesheet_link_tag "exercise" %>
</head>

<body>
<div id="error-message"></div> 
 <h1 class="heading mt-5 ">Exercise Generator</h1>
 <div class="exercise-file-upload mt-4 text-center">
 <%= link_to "Upload Exercise JASON File", file_upload_path, class:"btn EX-upload" %>
 </div>
    <div id="container">
     
    <div class="row justify-content-center">
    <div class="col-lg-6 col-md-9 col-sm-12">
            <form name="exercises" action="" method="get">

       <div class="form-group mb-3">
  <label for="mode2">Select a mode:</label>
  <br>
  <div class="form-check form-check-inline">
    <input class="form-check-input" id="resetTransducer" type="radio" name="mode2" value="tm" checked>
    <label class="form-check-label" for="tm-acceptor">TM(Acceptor)</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" id="transducer" type="radio" name="mode2" value="tm" >
    <label class="form-check-label" for="tm-transducer">TM(Transducer)</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" id="CFL" type="radio" name="mode2" value="CFL">
    <label class="form-check-label" for="cfl">CFL</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" id="FA" type="radio" name="mode2" value="FA">
    <label class="form-check-label" for="fa">FA</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" id="grammar" type="radio" name="mode2" value="grammar">
    <label class="form-check-label" for="grammar">grammar</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input"  id="PDA" type="radio" name="mode2" value="PDA">
    <label class="form-check-label" for="pda">PDA</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" id="Regular" type="radio" name="mode2" value="Regular">
    <label class="form-check-label" for="regular">Regular</label>
  </div>
   <div class="form-check form-check-inline">
    <input class="form-check-input" id="NFAtoDFA" type="radio" name="mode2" value="NFAtoDFA">
    <label class="form-check-label" for="NFAtoDFA">NFAtoDFA</label>
  </div>
</div>
      
<div id="problems">
                <fieldset>
                    <legend>Problem 1</legend>
                <!--   <div class="mb-3">
                        <label style="margin-right: 10px;">
                          <input type="radio" name="mode" value="noGraph" checked>Expression Only
                         </label>
                        <label style="margin-left: 10px;">
                          <input type="radio" name="mode" value="yesGraph">  With Wrong Graph
                        </label>
                       </div>-->
<div class="form-group">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="show1" id="showExpression" value="true" checked>
    <label class="form-check-label d-block" for="showExpression">Expression:</label>
    <input class="form-control" type="text" name="expression">
  </div>
</div>

<div class="form-group mt-3">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="show1" id="showDescription" value="false">
    <label class="form-check-label d-block" for="showDescription">Description:</label>
    <input class="form-control" type="text" name="description">
  </div>
</div>


                   
                    <div class="testCases">
                        <div class="testCase">
                            <span>Test Case 1: </span>
                            

                            <div id="acceptReject">
                                <input type="radio" name="result1" value="true" checked> <span>Accept</span>
                                <input type="radio" name="result1" value="false"> <span>Reject</span>
                            </div>

                            
                           <input type="radio" name="showTest" value="true" checked> Show Test Cases
                           <input type="radio" name="showTest" value="false"> Hide Test Cases
                           


                            <input class="form-control" id="transducerOne" type="text" name="testString">

                            <div id="transducerTwo">
                            
                                <div id="box1">
                                    <p>Input</p>
                                    <input class="form-control"  type="text" name="testStringa">
                                </div>
                                <div id="box2">
                                    <p>Output</p>
                                    <input class="form-control"  type="text" name="testStringb">
                                </div>

                                <br>
                            </div>
                        </div>
                      </div>
                        <button type="button" id="addTestCase" class="btn EX-button">Add another test case</button>
                        <button type="button" id="editGraph"  class="btn EX-button">Edit Graph</button>
                        <button type="button" id="uploadGraph"  class="btn EX-button">Upload Graph</button>
                        <input type="file" id="upload" style="display: none">
                        <button id="getjson"  class="btn EX-button">Create</button>
                        <!--  <button id="fixerButton"  class="btn m-2">FAFixer</button>
                          <button id="testerButton"  class="btn m-2">FATester</button>-->
                </fieldset>
            
      
            </div>
        </form>
        </div>
        </div>
        <p id="download"></p>
    </div>

    <div id="av" style="visibility: hidden">
        <!-- <p class="jsavoutput jsavline"></p> -->
    </div>

    <script src="\OpenDSA-master\lib\jquery.min.js"></script>
<script src="/OpenDSA-master/lib/jquery.migrate.min.js"></script>
    <script src="/OpenDSA-master/lib/jquery.ui.min.js"></script>
    <script src="\OpenDSA-master\AV\Jsparson\lib\underscore-min.js"></script>

    <script src="\lib\jquery.transit.js"></script>
    <script src="\lib/raphael.js"></script>
    <script src="\lib/dagre.min.js"></script>
    <script src="\lib\JSAV.js"></script>
    <script src="\DataStructures\FLA\FA.js"></script>
    <script src="\DataStructures\FLA\serializableGraph.js"></script>
    <script src="\OpenDSA-master\AV\OpenFLAP\exercises\Create Exercises\createTMexercise.js"></script>
</body>

</html>